{
    "_autoload" : false,
    "_module" : "programs.chatter",
    "_class" : "Program",
    "persona" : "Stoner",
    "storage_adapter" : "chatterbot.storage.SQLStorageAdapter",
    "database_uri" : "sqlite:///chatter.sqlite3",
    "read_only" : true,
    "min_response_confidence_mentioned" : 0.3,
    "min_response_confidence" : 0.9,
    "preprocessors" : [
        "chatterbot.preprocessors.clean_whitespace"
    ],
    "logic_adapters" : [
        { 
            "import_path" : "programs.chatter.logic.QueryLogicAdapter" 
        },
        {
            "import_path" : "chatterbot.logic.BestMatch",
            "statement_comparison_function" : "chatterbot.comparisons.SpacySimilarity",
            "response_selection_method" : "get_random_response"
        }
    ]
}