/* REMOVE THIS COMMENT LINE OR THIS FILE WILL FAIL TO LOAD */
{
    "_autoload" : false,
    "_module" : "programs.discord",
    "_class" : "Program",
    "token" : "ENTER YOUR DISCORD TOKEN HERE",
    "owner" : 000000000000000000,
    "access" : { "000000000000000000" : 1000 },
    "plugins" : {
        "programs.discord.plugins.control" : null,
        "programs.discord.plugins.irc_bridge" : null,
        "programs.discord.plugins.chatter" : {
            "server_whitelist" : [ 000000000000000000 ],
            "channel_whitelist" : [ ],
            "channel_blacklist" : [ ]
        },
        "programs.discord.plugins.lua" : {
            "server_whitelist" : [ ],
            "channel_whitelist" : [ ],
            "channel_blacklist" : [ ],
            "require_whitelist" : false,
            "min_access_level" : 0,
            "max_instances" : 5,
            "sandbox" : true,
            "owner_sandbox" : true,
            "owner_persistance" : true,
            "allowlist" : [
                "assert",
                "tostring",
                "tonumber",
                "ipairs",
                "pairs",
                "print",
                "unpack",
                "table",
                "_VERSION",
                "next",
                "math",
                "_G",
                "select",
                "string",
                "type",
                "getmetatable",
                "setmetatable"
            ]
        }
    }
}
