/* REMOVE THIS COMMENT LINE OR THIS FILE WILL FAIL TO LOAD */
{
    "_autoload" : false,
    "_module" : "programs.discord",
    "_class" : "Program",
    "token" : "ENTER YOUR DISCORD TOKEN HERE",
    "plugins" : {
        "programs.discord.plugins.control" : null,
        "programs.discord.plugins.lua" : null,
        "programs.discord.plugins.irc_bridge" : null,
    },
    "me" : 000000000000000000,
    "owner" : 000000000000000000,
    "access" : { "000000000000000000" : 1000 }
}
