/* REMOVE THIS COMMENT LINE OR THIS FILE WILL FAIL TO LOAD */
{
    "_autoload" : false,
    "_module" : "programs.irc",
    "_class" : "Program",
    "nick" : "Dogma",
    "altnick" : "Dogma_",
    "ident" : "Dogma",
    "realname" : "Dogma",
    "plugins" : {
        "control" : {
            "_module" : "programs.irc.plugins.control"
        },
        "discord_bridge" : {
            "_module" : "programs.irc.plugins.discord_bridge",
            "connect" : {
                "tekagis" : {
                    "#MyChannel" : 000000000000000000
                }
            }
        }
    },
    "channels" : ["#MyChannel"],
    "networks" : [
        { 
            "name" : "MyNetwork", 
            "host" : "irc.mynetwork.com", 
            "port" : 6667,
            "config" : {
                "altnick" : "Override"
            }
        }
    ],
    "access" : {
        "SomeGuy!SomeGuy@127.0.01" : 100
    }
}
